{% extends 'NeuralPainter/user_templates/user_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
    {{ form.media.css }}
    <!-- <div class="container">
        <h1 class="text-left border-bottom pb-2 mt-3 mb-4">Add paint</h1>
    </div> -->
{% endblock %}


{% block content %}
    <div class="container">
        <i class="fa fa-pencil-square-o top-icon fa-5x" aria-hidden="true"></i>
        <div class="form-container">
            <form class = "mb-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form|crispy }}
                <button type="submit" class="btn btn-danger mt-3 float-right">Add paint</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
