{% extends 'NeuralPainter/main.html' %}


{% block title %}Login{% endblock %}

{% block page_title %}
    <div class="container">
        <h1 class="text-left border-bottom pb-2 my-4">Login</h1>
    </div>
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-danger">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}