{% extends 'NeuralPainter/user_templates/user_base.html' %}

{% block title %}Your favorite paints{% endblock title %}


{% block page_title %}
    <div class="container">
        <h1 class="text-left border-bottom pb-2 mt-3 mb-4">Your favorite paints</h1>
    </div>
{% endblock %}


{% block content %}
    <div id="paint_container" class="container">
        {% for paint in object_list%}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row " >
                    <div class="col-lg-4  mb-5">
                        <div class="card" id="card_{{ forloop.counter0 }}" style="width: 100%;">
                            <img class="card-img-top" src="{{ paint.paint.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 pt-2 mr-auto" href="{% url 'paint' slug=paint.slug %}">{{ paint.name}}</a>
                                    <button id="fav_button_{{ paint.id }}" onclick="removeFavoritePaint({{ paint.id }}, {{ forloop.counter0 }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                    {% if paint.genre is None %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a> </p>
                                    {% else %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a>  in genre
                                            <a class="font-italic" style="color: cornflowerblue" href="{% url 'genre' slug=paint.genre.slug %}"> #{{ paint.genre.name }} </a>  </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    {%  if not forloop.counter0|divisibleby:2 %}
                    <div class="col-lg-4  mb-5">
                        <div class="card" id="card_{{ forloop.counter0 }}" style="width: 100%;">
                            <img class="card-img-top" src="{{ paint.paint.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 pt-2 mr-auto" href="{% url 'paint' slug=paint.slug %}">{{ paint.name}}</a>
                                    <button id="fav_button_{{ paint.id }}" onclick="removeFavoritePaint({{ paint.id }}, {{ forloop.counter0 }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                    {% if paint.genre is None %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a> </p>
                                    {% else %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a>  in genre
                                            <a class="font-italic" style="color: cornflowerblue" href="{% url 'genre' slug=paint.genre.slug %}"> #{{ paint.genre.name }} </a>  </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    <div class="col-lg-4  mb-5">
                        <div class="card" id="card_{{ forloop.counter0 }}" style="width: 100%;">
                            <img class="card-img-top" src="{{ paint.paint.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 pt-2 mr-auto" href="{% url 'paint' slug=paint.slug %}">{{ paint.name}}</a>
                                    <button id="fav_button_{{ paint.id }}" onclick="removeFavoritePaint({{ paint.id }}, {{ forloop.counter0 }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                    {% if paint.genre is None %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a> </p>
                                    {% else %}
                                        <p class="card-text ml-3">Paint by <a href="{% url 'painter' slug=paint.painter.slug %}"> {{ paint.painter.name }} </a>  in genre
                                            <a class="font-italic" style="color: cornflowerblue" href="{% url 'genre' slug=paint.genre.slug %}"> #{{ paint.genre.name }} </a>  </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endif %}
        {% empty %}
            <h5>There is no paints</h5>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
    let len = {{ object_list|length }};

    function removeFavoritePaint(paint_id, counter) {
        $.ajax({
        url: '{% url 'remove_favorite_paint' %}',
        data: {'paint_id': paint_id},
        dataType: 'json',
        success: function (data) {
          if (!data.success) {
            alert("You can't do this");
          }
        }

        });

        if(len === 1){
            $(`#card_${counter}`).remove();
            $('#paint_container').html('<h5>There is no paints</h5>');
        }
        else{
            if(len - 1 === counter){
                $(`#card_${counter}`).remove();
                len--;
            }
            else{
                $(`#card_${counter}`).replaceWith($(`#card_${len-1}`));
                len--;
            }
        }
    }

  </script>
{% endblock %}
